<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="exmaple iplemenation of the rodacker/cart library">
	<meta name="author" content="Patrick Rodacker">

	<title>Rodacker Cart Example</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
	      integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

	<link rel="stylesheet" href="{{ asset('narrow-jumbotron.css', 'css') }}">

</head>

<body>

<div class="container">
	<div class="header clearfix">

		{% set navigation = [
		['/', 'home', 'Home'],
		['/shop', 'shop', 'Shop'],
		['/cart', 'cart', 'Cart'],
		['/documentation', 'documentation', 'Documentation']
		] %}
		{% set active_page = active_page|default('index') %}
		<nav>
			<ul class="nav nav-pills float-right">
				{% for item in navigation %}
					<li class="nav-item">
						<a class="nav-link{% if item[1] == active_page %} active{% endif %}"
						   href="{{ item[0]|e }}">{{ item[2]|e }}</a>
					</li>
				{% endfor %}
			</ul>
		</nav>
		<h3 class="text-muted">rodacker/cart-example</h3>
	</div>

	{% block jumbotron %}
	{% endblock %}

	{% block body %}
	{% endblock %}
	<footer class="footer">
		<p>&copy; Patrick Rodacker - Software & Web Development 2017</p>
	</footer>

</div> <!-- /container -->

<script src="https://code.jquery.com/jquery-3.2.1.min.js" type="application/javascript"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>

</body>
</html>
