{% extends "base.twig" %}

{% set active_page = "cart" %}

{% block body %}
	{% if cart.itemCount > 0 %}
		<table class="table">
			<thead>
			<tr>
				<th>Image</th>
				<th>Name</th>
				<th>Quantity</th>
				<th>Price</th>
				<th>Sum</th>
			</tr>
			</thead>
			<tbody>
			{% for item in cart.items %}
				<tr>
					<td><img src="{{ item.firstImage.relativePathname }}" class="img-responsive"></td>
					<td><h4>{{ item.name | title }}</h4><br>
						<form action="/cart/item" method="post">
							<input type="hidden" id="_method" name="_method" value="DELETE"/>
							<input type="hidden" name="id" value="{{ item.id }}"/>
							<button type="submit" class="btn btn-danger btn-sm">remove from cart</button>
						</form>
					</td>
					<td>{{ item.quantity }}</td>
					<td>{{ (item.price / 100 )| number_format(2) }}</td>
					<td>{{ (item.sum / 100 )| number_format(2) }}</td>
				</tr>
			{% endfor %}
			</tbody>
			<tfoot>
			<tr>
				<td colspan="4" class="text-right">Sum</td>
				<td>{{ (cart.total / 100) | number_format(2) }}</td>
			</tr>
			</tfoot>
		</table>
		<div class="row">
			<div class="col-md-6">
				<form action="/cart" method="post">
					<input type="hidden" id="_method" name="_method" value="DELETE"/>
					<div class="btn-group">
						<button type="submit" class="btn btn-danger"><span aria-hidden="true">&times;</span> clear cart</button>

					</div>
				</form>
			</div>
			<div class="col-md-6 text-right">
				<a href="" class="btn btn-success">Checkout</a>
			</div>
			<br>
			<br>
		</div>
	{% else %}
		<br>
		<div class="alert alert-warning">The cart does not contain any items. <a href="/shop">Add items now</a></div>
	{% endif %}
{% endblock %}