{% extends "base.twig" %}

{% set active_page = "documentation" %}

{% block jumbotron %}
	<div class="jumbotron">
		<h1 class="display-3">Documentation</h1>
		<p class="lead">You can find further information about the <code>rodacker/cart</code> package at the Gitlab page</p>
		<p><a class="btn btn-lg btn-success" href="https://www.gitlab.com/rodacker/cart" role="button">Gitlab project page</a></p>
	</div>
{% endblock %}

{% block body %}
	{{ content | raw }}
{% endblock %}