{% extends "base.twig" %}

{% set active_page = "home" %}

{% block jumbotron %}
	<div class="jumbotron">
		<h1 class="display-3">Simple PHP cart</h1>
		<p class="lead">
			This is an example how you can use the <code>rodacker/cart</code> package in your
			project.
			The package provides basic cart features, allowing you to adapt it to your
			needs.<br><br>
		</p>
		<p><a class="btn btn-lg btn-success" href="https://www.gitlab.com/rodacker/cart"
		      target="_blank" role="button">Gitlab Project Page</a></p>
		<p>This example uses the <a href="https://silex.sensiolabs.org/" target="_blank">Silex
				framework</a>.</p>
	</div>
{% endblock %}

{% block body %}
{% endblock %}