{% extends "base.twig" %}
{% set active_page = "shop" %}
{% block body %}
	{% for row in articles|batch(3) %}
		<div class="row">
			{% for article in row %}
				<div class="col-md-4">
					<div class="card">
						<img src="{{ article.imagePath }}" class="card-image-top">
						<div class="card-block">
							<h4 class="card-title">{{ article.name | title }}</h4>
							<p class="card-text">{{ (article.price / 100 )| number_format(2, '.', ',') }}</p>
						</div>
						<div class="card-block">
							<form action="/cart" method="post" class="form-inline">
								<input type="hidden" name="id" value="{{ article.id }}"/>
								<label class="sr-only" for="quantity">Quantity</label>
								<input type="number" name="quantity" value="1" min="1"
								       class="form-control form-control-sm mb-2 mr-sm-2 mb-sm-0" style="max-width: 50px;">
								<button type="submit" class="btn btn-success btn-sm">add to cart</button>
							</form>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
		<br>
	{% endfor %}
{% endblock %}